Jax-p_StaXParserValidate-XSD-XML/bank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Bnak" type="BankType"/>
		<xs:complexType name="BankType">
			<xs:sequence>
				<xs:element name="account" type="accountType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="accountType">
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="amt" type="xs:double"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
</xs:schema>
