XSD/book req.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bookReq="http://com/nt/req/bindings" targetNamespace="http://com/nt/req/bindings" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="BookReq" type="bookReq:BookReqType"/>
	<xs:complexType name="BookReqType">
		<xs:sequence>
			<xs:element name="bookId" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
